@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  margin: auto; }

h1, h2, h3, h4, h5, h6, button {
  font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.mb-1 {
  margin-bottom: 1rem; }

.orange {
  color: #ff600a; }

.show {
  display: block; }

.hide {
  display: none; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.input-err {
  color: red;
  border: 1px solid red !important; }
  .input-err:focus {
    outline: 1px solid red; }

.err {
  color: red; }

.rotate {
  transform: rotate(180deg);
  transition: .4s ease; }

.placeholder {
  animation: 3s infinite placeholder-animate ease-in-out; }

.product-show-item .gallery .share .tooltip, .product-show-item .details .container .quantity div .tooltip {
  cursor: default;
  position: relative;
  display: inline-block; }
  .product-show-item .gallery .share .tooltip:hover .tooltiptext, .product-show-item .details .container .quantity div .tooltip:hover .tooltiptext {
    visibility: visible;
    transition: .3s ease;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1; }
  .product-show-item .gallery .share .tooltip .tooltiptext, .product-show-item .details .container .quantity div .tooltip .tooltiptext {
    visibility: hidden;
    background: #33333d;
    color: #f4f4f4;
    position: absolute;
    width: 160px;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px;
    z-index: 1;
    transition: .3s ease; }

.catalog .product-list-container .product-page-nav .btn, .product-show-item .details .container .size ul li, .product-show-item .details .container .quantity .increment, .product-show-item .details .container .quantity .decrement {
  cursor: pointer;
  background: #f4f4f4;
  color: #626166;
  width: 50px;
  height: 50px;
  border: 1px solid #d3d3d3;
  transition: .3s ease; }
  .catalog .product-list-container .product-page-nav .btn:hover, .product-show-item .details .container .size ul li:hover, .product-show-item .details .container .quantity .increment:hover, .product-show-item .details .container .quantity .decrement:hover {
    background: #d3d3d3;
    border: 1px solid #a3a3a3;
    transition: .3s ease; }

.product-show-item .details .container .quantity .add-cart, .product-show-item .details .container .quantity div .add-wishlist, .footer .container .newsletter form button {
  cursor: pointer;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
  width: 200px;
  height: 50px;
  border: 0;
  transition: .3s ease; }
  .product-show-item .details .container .quantity .add-cart:focus, .product-show-item .details .container .quantity div .add-wishlist:focus, .footer .container .newsletter form button:focus {
    outline: none;
    transition: .3s ease; }
  .product-show-item .details .container .quantity .add-cart:hover, .product-show-item .details .container .quantity div .add-wishlist:hover, .footer .container .newsletter form button:hover {
    opacity: .8;
    transition: .3s ease; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin: auto;
  padding: 1.3rem 0; }
  .header h1 {
    color: #0a0a0a; }
  .header-navbar {
    display: flex; }
    .header-navbar svg {
      fill: transparent;
      stroke: #ff600a;
      width: 40px;
      height: 80px;
      margin: -20px 80px -20px 20px;
      stroke-width: 2.5;
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: .9s;
      transform: rotate(90deg); }
      .header-navbar svg:hover {
        animation: drawSVG .9s; }
    .header-navbar .item {
      cursor: pointer;
      position: relative;
      margin: auto 1rem;
      font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
      font-weight: 500; }
      .header-navbar .item:hover {
        color: #ff600a; }
      .header-navbar .item.active {
        color: #ff600a; }
      .header-navbar .item.active::before {
        position: absolute;
        content: "";
        background: #ff600a;
        width: 6px;
        height: 6px;
        top: 30px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%); }
  .header-actions {
    position: relative;
    display: flex;
    align-items: center; }
    .header-actions span {
      cursor: pointer;
      display: flex;
      align-items: center; }
      .header-actions span h1 {
        font-weight: 500;
        font-size: 1rem; }
        .header-actions span h1.placeholder {
          width: 150px;
          height: 20px; }
      .header-actions span:hover h1, .header-actions span:hover i {
        color: #ff600a; }
    .header-actions i {
      cursor: pointer;
      margin: 0 1.1rem;
      font-size: 1.5rem; }
      .header-actions i:hover {
        color: #ff600a; }
      .header-actions i:nth-child(4) {
        margin-right: 0; }

.subheader {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08); }
  .subheader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    padding: 1.3rem 0; }
    .subheader .container .breadcrumb {
      display: flex; }
      .subheader .container .breadcrumb li + li::before {
        content: "/\00a0";
        padding: 0.5rem; }
    .subheader .container .sort select {
      color: #a3a3a3;
      padding: 0.4rem;
      margin-left: 0.5rem;
      text-transform: uppercase; }
      .subheader .container .sort select:focus {
        outline: none; }

.catalog {
  display: flex;
  margin: auto;
  width: 1180px;
  margin: 1.5rem auto; }
  .catalog .filter {
    width: 300px;
    min-height: 100%;
    margin: 1rem 1rem 1rem 0; }
    .catalog .filter .heading {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 3px solid #f4f4f4;
      color: #626166; }
      .catalog .filter .heading h4 {
        text-transform: uppercase;
        font-weight: 500; }
        .catalog .filter .heading h4:last-child {
          cursor: pointer;
          color: #ff600a; }
    .catalog .filter h2 {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      margin-bottom: 1rem;
      transition: .4s ease; }
      .catalog .filter h2:hover, .catalog .filter h2:hover i {
        color: #ff600a;
        transition: .4s ease; }
    .catalog .filter ul {
      margin-left: 1rem;
      margin-bottom: 2rem; }
      .catalog .filter ul li {
        cursor: pointer;
        font-weight: 600;
        padding: 0.75rem 0;
        text-transform: uppercase;
        color: #626166;
        transition: .4s ease; }
        .catalog .filter ul li:hover {
          color: #ff600a;
          transition: .4s ease; }
  .catalog .product-list-container {
    width: 1180px; }
    .catalog .product-list-container .product-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 1rem 0 1rem 1rem;
      width: 100%;
      min-height: 400px; }
      .catalog .product-list-container .product-list-item {
        position: relative;
        width: 250px;
        height: 400px;
        margin: 0 auto; }
        .catalog .product-list-container .product-list-item img, .catalog .product-list-container .product-list-item .img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          margin-bottom: 0.5rem; }
        .catalog .product-list-container .product-list-item .new {
          cursor: default;
          font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
          font-weight: 300;
          background: #ff600a;
          color: #fff;
          text-transform: uppercase;
          position: absolute;
          top: 15px;
          left: 15px;
          padding: 0.25rem 0.55rem; }
        .catalog .product-list-container .product-list-item .discount {
          cursor: default;
          font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
          font-weight: 300;
          background: #ff600a;
          color: #fff;
          text-transform: uppercase;
          position: absolute;
          top: 15px;
          right: 15px;
          padding: 0.25rem 0.55rem; }
        .catalog .product-list-container .product-list-item h1, .catalog .product-list-container .product-list-item .heading {
          cursor: pointer;
          color: #0a0a0a;
          font-weight: 500;
          font-size: 1.15rem;
          line-height: 1.7;
          margin-bottom: 0.5rem;
          transition: .3s ease; }
          .catalog .product-list-container .product-list-item h1.placeholder, .catalog .product-list-container .product-list-item .heading.placeholder {
            width: 100%;
            height: 30px; }
        .catalog .product-list-container .product-list-item p {
          color: #0a0a0a;
          cursor: pointer;
          transition: .3s ease; }
        .catalog .product-list-container .product-list-item a:hover h1, .catalog .product-list-container .product-list-item a:hover p {
          opacity: .5;
          transition: .3s ease; }
    .catalog .product-list-container .product-page-nav {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem; }
      .catalog .product-list-container .product-page-nav .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem; }
        .catalog .product-list-container .product-page-nav .btn.highlight {
          border: 1px solid #ff600a;
          background: rgba(255, 96, 10, 0.1); }
          .catalog .product-list-container .product-page-nav .btn.highlight:hover {
            background: rgba(255, 96, 10, 0.3); }

.product-show {
  width: 1180px;
  margin: auto; }
  .product-show-item {
    display: flex;
    margin: 3rem 0; }
    .product-show-item .gallery img, .product-show-item .gallery .img {
      width: 350px;
      height: 400px;
      object-fit: cover; }
    .product-show-item .gallery .share {
      display: flex;
      align-items: center;
      color: #a3a3a3;
      margin-top: 0.4rem; }
      .product-show-item .gallery .share h3 {
        font-size: 1rem;
        font-weight: 400;
        margin-right: 0.5rem; }
      .product-show-item .gallery .share i {
        cursor: pointer;
        margin-left: 0.5rem;
        font-size: 1.2rem;
        transition: .3s; }
        .product-show-item .gallery .share i:hover {
          color: #ff600a;
          transition: .3s; }
      .product-show-item .gallery .share .tooltip .tooltiptext {
        top: 20px; }
      .product-show-item .gallery .share .clipboard {
        opacity: 0;
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -20px);
        background: rgba(51, 51, 61, 0.95);
        color: #fff;
        padding: 0.7rem 1.7rem;
        border-radius: 5px;
        transition: .4s ease; }
        .product-show-item .gallery .share .clipboard h4 {
          font-weight: 500; }
        .product-show-item .gallery .share .clipboard.show {
          opacity: 1;
          transform: translate(-50%, 0);
          transition: .4s ease; }
    .product-show-item .details {
      margin-left: 3rem; }
      .product-show-item .details .name {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: #33333d; }
        .product-show-item .details .name.placeholder {
          width: 600px;
          height: 30px; }
      .product-show-item .details .price {
        margin-top: 0.5rem;
        font-weight: 500;
        color: #ff600a; }
        .product-show-item .details .price.placeholder {
          width: 300px;
          height: 30px; }
      .product-show-item .details .container {
        margin-top: 1.7rem;
        margin-left: 0.6rem; }
        .product-show-item .details .container .description h2 {
          letter-spacing: 1px;
          font-weight: 500;
          color: #626166; }
        .product-show-item .details .container .description ul {
          margin-top: 1rem; }
          .product-show-item .details .container .description ul li {
            margin-top: 0.5rem;
            color: #a3a3a3; }
        .product-show-item .details .container .size h2 {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 1.1rem;
          text-transform: uppercase;
          color: #626166; }
          .product-show-item .details .container .size h2.placeholder {
            margin: 0.75rem 0;
            width: 500px;
            height: 50px; }
        .product-show-item .details .container .size ul {
          margin-bottom: 2rem; }
          .product-show-item .details .container .size ul li {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.5rem;
            text-align: center; }
            .product-show-item .details .container .size ul li.selected {
              color: #ff600a;
              border: 1px solid #ff600a;
              background: rgba(255, 96, 10, 0.1); }
        .product-show-item .details .container .quantity h2 {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 1.1rem;
          text-transform: uppercase;
          color: #626166; }
          .product-show-item .details .container .quantity h2 p {
            margin-left: 1.5rem;
            display: inline;
            font-size: 0.7rem; }
        .product-show-item .details .container .quantity span {
          margin: 0 1rem; }
        .product-show-item .details .container .quantity .add-cart {
          background: #33333d;
          color: #fff; }
        .product-show-item .details .container .quantity div {
          display: inline;
          position: relative; }
          .product-show-item .details .container .quantity div i {
            position: absolute;
            top: 4px;
            left: 55px;
            font-size: 1.5rem;
            color: #33333d;
            z-index: 1; }
          .product-show-item .details .container .quantity div .tooltip .tooltiptext {
            bottom: 30px;
            left: 10px; }
          .product-show-item .details .container .quantity div .add-wishlist {
            padding-left: 1.5rem;
            background: transparent;
            border-bottom: 4px solid #33333d; }
            .product-show-item .details .container .quantity div .add-wishlist:hover {
              background: #f4f4f4; }

.footer {
  width: 100%;
  background: #33333d;
  color: #fff; }
  .footer .copyright {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: #d3d3d3;
    padding-bottom: 3rem; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
    margin-bottom: 3rem; }
    .footer .container ul h1 {
      font-weight: 400;
      font-size: 1.6rem;
      margin: 2.5rem 0 2rem; }
    .footer .container ul li {
      color: #d3d3d3;
      line-height: 2; }
    .footer .container .newsletter h1 {
      font-weight: 400;
      font-size: 1.6rem;
      margin: 2.5rem 0 2rem; }
    .footer .container .newsletter form input {
      font-family: "Montserrat", "Trebuchet MS", Arial, sans-serif;
      width: 400px;
      height: 40px;
      padding-left: 0.5rem;
      border: 1px solid #a3a3a3;
      background: transparent;
      color: #fff; }
      .footer .container .newsletter form input:focus {
        outline: 1px solid #fff; }
      .footer .container .newsletter form input::placeholder {
        color: #d3d3d3; }
    .footer .container .newsletter form button {
      height: 40px; }
      .footer .container .newsletter form button:hover {
        opacity: .7;
        transition: .3s ease; }
    .footer .container .newsletter .socials {
      margin-top: 1rem; }
      .footer .container .newsletter .socials i {
        margin-right: 0.9rem;
        padding: 0.4rem;
        color: #fff;
        transition: .3s ease; }
        .footer .container .newsletter .socials i:hover {
          opacity: .7;
          transition: .3s ease; }
      .footer .container .newsletter .socials .la-facebook-f {
        background: #4267B2; }
      .footer .container .newsletter .socials .la-twitter {
        background: #1DA1F2; }
      .footer .container .newsletter .socials .la-instagram {
        background: #d62976; }
      .footer .container .newsletter .socials .la-youtube {
        background: #FF0000; }

.intro {
  background: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; }
  .intro-text .hide {
    background: #f4f4f4;
    overflow: hidden; }
    .intro-text .hide .vra {
      fill: transparent;
      stroke: #ff600a;
      width: 160px;
      height: 80px;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      transform: translateY(150%);
      display: inline-block; }

.slider {
  background: #ff600a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 99; }

.wishlist-modal, .cart-modal {
  overflow-y: scroll;
  position: absolute;
  background: #fff;
  width: 400px;
  height: 85%;
  box-shadow: 4px 4px 30px 5px rgba(211, 211, 211, 0.7);
  top: 75px;
  right: 0; }

.wishlist-modal .modal-main, .cart-modal .modal-main {
  padding: 1rem; }
  .wishlist-modal .modal-main .modal-header, .cart-modal .modal-main .modal-header {
    display: flex;
    justify-content: space-between; }
    .wishlist-modal .modal-main .modal-header h2, .cart-modal .modal-main .modal-header h2 {
      margin-bottom: 1rem; }
    .wishlist-modal .modal-main .modal-header h3 i, .cart-modal .modal-main .modal-header h3 i {
      padding-right: 0.5rem;
      font-size: 1.5rem; }
  .wishlist-modal .modal-main .modal-items li, .cart-modal .modal-main .modal-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #d3d3d3; }
    .wishlist-modal .modal-main .modal-items li:last-child, .cart-modal .modal-main .modal-items li:last-child {
      border-bottom: none; }
    .wishlist-modal .modal-main .modal-items li .cart-product, .wishlist-modal .modal-main .modal-items li .wishlist-product, .cart-modal .modal-main .modal-items li .cart-product, .cart-modal .modal-main .modal-items li .wishlist-product {
      display: flex;
      justify-content: space-between;
      margin-right: 1.5rem; }
      .wishlist-modal .modal-main .modal-items li .cart-product img, .wishlist-modal .modal-main .modal-items li .wishlist-product img, .cart-modal .modal-main .modal-items li .cart-product img, .cart-modal .modal-main .modal-items li .wishlist-product img {
        margin-right: 1rem;
        width: 70px;
        height: 70px;
        object-fit: cover; }
      .wishlist-modal .modal-main .modal-items li .cart-product .info, .wishlist-modal .modal-main .modal-items li .wishlist-product .info, .cart-modal .modal-main .modal-items li .cart-product .info, .cart-modal .modal-main .modal-items li .wishlist-product .info {
        display: block; }
        .wishlist-modal .modal-main .modal-items li .cart-product .info h1, .wishlist-modal .modal-main .modal-items li .wishlist-product .info h1, .cart-modal .modal-main .modal-items li .cart-product .info h1, .cart-modal .modal-main .modal-items li .wishlist-product .info h1 {
          font-size: 1rem;
          margin-bottom: 0.75rem;
          font-weight: 600; }
        .wishlist-modal .modal-main .modal-items li .cart-product .info div, .wishlist-modal .modal-main .modal-items li .wishlist-product .info div, .cart-modal .modal-main .modal-items li .cart-product .info div, .cart-modal .modal-main .modal-items li .wishlist-product .info div {
          display: flex;
          justify-content: space-between; }
    .wishlist-modal .modal-main .modal-items li div, .cart-modal .modal-main .modal-items li div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wishlist-modal .modal-main .modal-items li div i, .cart-modal .modal-main .modal-items li div i {
        padding: 0.3rem;
        font-size: 1.75rem; }
        .wishlist-modal .modal-main .modal-items li div i:hover, .cart-modal .modal-main .modal-items li div i:hover {
          color: #ff600a; }
  .wishlist-modal .modal-main .price-total, .cart-modal .modal-main .price-total {
    font-weight: 600;
    font-size: 1.2rem; }

.account {
  display: flex;
  height: 100vh; }
  .account-container {
    overflow-y: auto;
    width: 400px;
    padding: 1rem 1rem 1rem 2.5rem; }
    .account-container .logo {
      display: flex;
      align-items: center; }
      .account-container .logo h1 {
        font-size: 1.4rem;
        margin-left: 3rem;
        font-weight: 600;
        color: rgba(255, 96, 10, 0.8);
        letter-spacing: 1px; }
      .account-container .logo a svg {
        fill: transparent;
        stroke: #ff600a;
        stroke-width: 2.5;
        stroke-linecap: round;
        width: 50px;
        height: 100%;
        transform: rotate(90deg); }
    .account-container .headline {
      font-size: 1.7rem;
      letter-spacing: 0.6px;
      line-height: 1.4;
      color: #33333d;
      font-weight: 600;
      margin-top: 0.5rem;
      margin-bottom: 2rem; }
    .account-container .headline-description {
      margin-bottom: 2rem;
      font-size: 0.85rem;
      line-height: 1.7; }
    .account-container button {
      cursor: pointer;
      position: relative;
      display: flex;
      border: none;
      background: #4285f4;
      width: 100%;
      height: 40px;
      border-radius: 5px; }
      .account-container button img {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        padding: 0.3rem;
        background: #fff; }
      .account-container button h1 {
        padding-left: 46px;
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        margin: auto; }
      .account-container button:hover {
        opacity: 0.9; }
    .account-container span {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 1rem 0; }
      .account-container span::before, .account-container span::after {
        position: absolute;
        content: "";
        top: 50%;
        width: 45%;
        height: 1.5px;
        background: #d3d3d3; }
      .account-container span::after {
        left: 0; }
      .account-container span::before {
        right: 0; }
    .account-container .registration-success {
      background: #d8f8d0;
      border: 1px solid #3db81e;
      padding: 1rem;
      margin-bottom: 1rem; }
    .account-container form {
      position: relative;
      display: flex;
      flex-direction: column; }
      .account-container form label {
        margin-bottom: 0.3rem; }
      .account-container form input {
        background: #f4f4f4;
        border: 1px solid #33333d;
        padding-left: 0.8rem;
        height: 40px;
        border-radius: 3px; }
        .account-container form input[type=submit] {
          font-size: 1rem;
          cursor: pointer;
          margin-top: 3rem; }
          .account-container form input[type=submit]:hover {
            background: rgba(255, 96, 10, 0.25);
            border: 1px solid #ff600a; }
    .account-container h3 {
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 600; }
  .account .showcase {
    position: relative;
    width: calc(100vw - 400px); }
    .account .showcase img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .account .showcase div {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #626166;
      opacity: 0.25; }
    .account .showcase h2 {
      background: rgba(51, 51, 61, 0.75);
      padding: 1rem;
      position: absolute;
      color: #fff;
      content: "";
      bottom: 40px;
      left: 30px; }
      .account .showcase h2::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -10px;
        width: 40px;
        height: 5px;
        background: #fff;
        z-index: 222;
        transform: translate(-50%, -50%); }
      .account .showcase h2 a {
        color: #ff600a; }

@keyframes drawSVG {
  from {
    stroke-dashoffset: -100; }
  to {
    stroke-dashoffset: 0; } }

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes placeholder-animate {
  0% {
    background-color: #e9e9e9; }
  50% {
    background-color: #f2f2f2; }
  100% {
    background-color: #e9e9e9; } }

.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .loading-container .loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px; }
    .loading-container .loading div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 4px solid #0a0a0a;
      border-radius: 50%;
      animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #0a0a0a transparent transparent transparent; }
      .loading-container .loading div:nth-child(1) {
        animation-delay: -0.45s; }
      .loading-container .loading div:nth-child(2) {
        animation-delay: -0.3s; }
      .loading-container .loading div:nth-child(3) {
        animation-delay: -0.15s; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
