@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

$black: #0a0a0a;
$dark-grey: #626166;
$grey: #a3a3a3;
$light-grey: #d3d3d3;
$lighter: #f4f4f4;
$white: #fff;
$orange: #ff600a;
$dark-blue: #33333d;
$page-width: 1180px;
$H: "Montserrat", "Trebuchet MS", Arial, sans-serif;
$P: "Open Sans", Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $P;
  min-height: 100vh;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, button { font-family: $H; }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mb-1 { margin-bottom: 1rem; }

.orange {color: $orange;}
.show {display: block;}
.hide {display: none;}
.hidden {visibility: hidden;}
.visible {visibility: visible;}

.input-err {
  color: red;
  border: 1px solid red !important;

  &:focus {
    outline: 1px solid red;
  }
}

.err {
  color: red;
}

.rotate {
  transform: rotate(180deg);
  transition: .4s ease;
}

.placeholder {
  background-image: linear-gradient(
    90deg,
    #e4e4e4 0%,
    #f1f1f1 40%,
    #ededed 60%,
    #e4e4e4 100%
  );
  animation: 5s infinite placeholder-animate ease-in-out;
}

%tooltip-shared {
  cursor: default;
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
    transition: .3s ease;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
  }

  .tooltiptext {
    visibility: hidden;
    background: $dark-blue;
    color: $lighter;
    position: absolute;
    width: 160px;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px;
    z-index: 1;
    transition: .3s ease;
  }
}

%btn-shared {
  cursor: pointer;
  background: $lighter;
  color: $dark-grey;
  width: 50px;
  height: 50px;
  border: 1px solid $light-grey;
  transition: .3s ease;

  &:hover {
    background: $light-grey;
    border: 1px solid $grey;
    transition: .3s ease;
  }
}

%btn-shared-large {
  cursor: pointer;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: $H;
  width: 200px;
  height: 50px;
  border: 0;
  transition: .3s ease;

  &:focus {
    outline: none;
    transition: .3s ease;
  }

  &:hover {
    opacity: .8;
    transition: .3s ease;
  }
}



// HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $page-width;
  margin: auto;
  padding: 1.3rem 0;

  h1 {
    color: $black;
  }

  &-navbar {
    display: flex;

    svg {
      fill: transparent;
      stroke: $orange;
      width: 40px;
      height: 80px;
      margin: -20px 80px -20px 20px;
      stroke-width: 2.5;
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: .9s;
      transform: rotate(90deg);

      &:hover {
        animation: drawSVG .9s;
      }
    }

    .item {
      cursor: pointer;
      position: relative;
      margin: auto 1rem;
      font-family: $H;
      font-weight: 500;

      &:hover {
        color: $orange;
      }

      &.active {
        color: $orange;
      }

      &.active::before {
        position: absolute;
        content: "";
        background: $orange;
        width: 6px;
        height: 6px;
        top: 30px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &-actions {
    position: relative;
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      
      h1 {
        font-weight: 500;
        font-size: 1rem;
      }

      &:hover h1, &:hover i {
        color: $orange;
      }
    }

    i {
      cursor: pointer;
      margin: 0 1.1rem;
      font-size: 1.5rem;

      &:hover {
        color: $orange;
      }

      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}

// SUBHEADER
.subheader {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 40px rgba(0,0,0,.08);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $page-width;
    padding: 1.3rem 0;

    .breadcrumb {
      display: flex;

      li+li::before {
        content: "/\00a0";
        padding: 0.5rem;
      }
    }

    .sort {
      select {
        color: $grey;
        padding: 0.4rem;
        margin-left: 0.5rem;
        text-transform: uppercase;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

// CATALOG
.catalog {
  display: flex;
  margin: auto;
  width: $page-width;
  margin: 1.5rem auto;

  // FILTER
  .filter {
    width: 300px;
    min-height: 100%;
    margin: 1rem 1rem 1rem 0;

    .heading {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 3px solid $lighter;
      color: $dark-grey;

      h4 {
        text-transform: uppercase;
        font-weight: 500;

        &:last-child {
          cursor: pointer;
          color: $orange;
        }
      }
    }

      h2 {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        margin-bottom: 1rem;
        transition: .4s ease;

        &:hover, &:hover i {
          color: $orange;
          transition: .4s ease;
        }
      }

      ul {
        margin-left: 1rem;
        margin-bottom: 2rem;

      li {
        cursor: pointer;
        font-weight: 600;
        padding: 0.75rem 0;
        text-transform: uppercase;
        color: $dark-grey;
        transition: .4s ease;

        &:hover {
          color: $orange;
          transition: .4s ease;
        }
      }
    }
  }

  // PRODUCTLIST
  .product-list-container {
    width: $page-width;

    .product-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 1rem 0 1rem 1rem;
      width: 100%;
      min-height: 400px;
  
      // PRODUCT
      &-item {
        position: relative;
        width: 250px;
        height: 400px;
        margin: 0 auto;
  
        img, .img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          margin-bottom: 0.5rem;
        }
  
        .new {
          cursor: default;
          font-family: $H;
          font-weight: 300;
          background: $orange;
          color: $white;
          text-transform: uppercase;
          position: absolute;
          top: 15px;
          left: 15px;
          padding: 0.25rem 0.55rem;
        }
  
        .discount {
          cursor: default;
          font-family: $H;
          font-weight: 300;
          background: $orange;
          color: $white;
          text-transform: uppercase;
          position: absolute;
          top: 15px;
          right: 15px;
          padding: 0.25rem 0.55rem;
        }
  
        h1, .heading {
          cursor: pointer;
          color: $black;
          font-weight: 500;
          font-size: 1.15rem;
          line-height: 1.7;
          margin-bottom: 0.5rem;
          transition: .3s ease;
  
          &.placeholder {
            width: 100%;
            height: 30px;
          }
        }
  
          p {
            color: $black;
            cursor: pointer;
            transition: .3s ease;
          }
  
        a:hover h1, a:hover p {
          opacity: .5;
          transition: .3s ease;
        }
      }
    }
  
    // PRODUCTS PAGE NAV
    .product-page-nav {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
  
      .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        @extend %btn-shared;

        &.highlight {
          border: 1px solid $orange;
          background: rgba($color: $orange, $alpha: 0.1);
        
          &:hover {
            background: rgba($color: $orange, $alpha: 0.3);
          } 
        }
      }
    }
  }
}

// PRODUCTSHOW
.product-show {
  width: $page-width;
  margin: auto;

  &-item {
    display: flex;
    margin: 3rem 0;

    // Image & sharing
    .gallery {
      img, .img {
        width: 350px;
        height: 400px;
        object-fit: cover;
      }

      .share {
        display: flex;
        align-items: center;
        color: $grey;
        margin-top: 0.4rem;

        h3 {
          font-size: 1rem;
          font-weight: 400;
          margin-right: 0.5rem;
        }

        i {
          cursor: pointer;
          margin-left: 0.5rem;
          font-size: 1.2rem;
          transition: .3s;

          &:hover {
            color: $orange;
            transition: .3s;
          }
        }

        .tooltip {
          @extend %tooltip-shared;

          .tooltiptext {
            top: 20px;
          }
        }

        .clipboard {
          opacity: 0;
          position: fixed;
          top: 5%;
          left: 50%;
          transform: translate(-50%, -20px);
          background: rgba($color: $dark-blue, $alpha: 0.95);
          color: $white;
          padding: 0.7rem 1.7rem;
          border-radius: 5px;
          transition: .4s ease;

          h4 {
            font-weight: 500;
          }

          &.show {
            opacity: 1;
            transform: translate(-50%, 0);
            transition: .4s ease;
          }
        }
      }
    }

    // Details
    .details {
      margin-left: 3rem;

      .name {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: $dark-blue;

        &.placeholder {
          width: 600px;
          height: 30px;
        }
      }

      .price {
        margin-top: 0.5rem;
        font-weight: 500;
        color: $orange;

        &.placeholder {
          width: 300px;
          height: 30px;
        }
      }

      .container {
        margin-top: 1.7rem;
        margin-left: 0.6rem;

        .description {
          h2 {
            letter-spacing: 1px;
            font-weight: 500;
            color: $dark-grey;
          }

          ul {
            margin-top: 1rem;

            li {
              margin-top: 0.5rem;
              color: $grey;
            }
          }
        }

        .size {
          h2 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $dark-grey;

            &.placeholder {
              margin: 0.75rem 0;
              width: 500px;
              height: 50px;
            }
          }

          ul {
            margin-bottom: 2rem;

            li {
              @extend %btn-shared;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              margin-right: 1.5rem;
              text-align: center;

              &.selected {
                color: $orange;
                border: 1px solid $orange;
                background: rgba($color: $orange, $alpha: 0.1);
              }
            }
          }
        }

        .quantity {
          h2 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $dark-grey;

            p {
              margin-left: 1.5rem;
              display: inline;
              font-size: 0.7rem;
            }
          }

          .increment, .decrement {
            @extend %btn-shared;
          }

          span {
            margin: 0 1rem;
          }

          .add-cart {
            @extend %btn-shared-large;
            background: $dark-blue;
            color: $white;
          }

          div {
            display: inline;
            position: relative;

            i {
              position: absolute;
              top: 4px;
              left: 55px;
              font-size: 1.5rem;
              color: $dark-blue;
              z-index: 1;
            }

            .tooltip {
              @extend %tooltip-shared;

              .tooltiptext {
                bottom: 30px;
                left: 10px;
              }
            }

            .add-wishlist {
              padding-left: 1.5rem;
              @extend %btn-shared-large;
              background: transparent;
              border-bottom: 4px solid $dark-blue;

              &:hover {
                background: $lighter;
              }
            }
          }
        }
      }
    }
  }
}

// FOOTER
.footer {
  width: 100%;
  background: $dark-blue;
  color: $white;

  .copyright {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: $light-grey;
    padding-bottom: 3rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: $page-width;
    margin: auto;
    margin-bottom: 3rem;

    ul {
      h1 {
        font-weight: 400;
        font-size: 1.6rem;
        margin: 2.5rem 0 2rem;
      }

      li {
        color: $light-grey;
        line-height: 2;
      }
    }

    .newsletter {
      h1 {
        font-weight: 400;
        font-size: 1.6rem;
        margin: 2.5rem 0 2rem;
      }

      form {
        input {
          font-family: $H;
          width: 400px;
          height: 40px;
          padding-left: 0.5rem;
          border: 1px solid $grey;
          background: transparent;
          color: $white;

          &:focus {
            outline: 1px solid $white;
          }

          &::placeholder {
            color: $light-grey;
          }
        }

        button {
          @extend %btn-shared-large;
          height: 40px;

          &:hover {
            opacity: .7;
            transition: .3s ease;
          }
        }
      }

      .socials {
        margin-top: 1rem;

        i {
          margin-right: 0.9rem;
          padding: 0.4rem;
          color: $white;
          transition: .3s ease;

          &:hover {
            opacity: .7;
            transition: .3s ease;
          }
        }

        .la-facebook-f {
          background: #4267B2;
        }

        .la-twitter {
          background: #1DA1F2;
        }

        .la-instagram {
          background: #d62976;
        }

        .la-youtube {
          background: #FF0000;
        }
      }
    }
  }
}

// SPLASHSCREEN
.intro {
  background: $lighter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  &-text {
    .hide {
      background: $lighter;
      overflow: hidden;

      .vra {
        fill: transparent;
        stroke: $orange;
        width: 160px;
        height: 80px;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform: translateY(150%);
        display: inline-block;
      }
    }
  }
}

.slider {
  background: $orange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 99;
}

%modal-shared {
  overflow-y: scroll;
  position: absolute;
  background: $white;
  width: 400px;
  height: 85%;
  box-shadow: 4px 4px 30px 5px rgba($color: $light-grey, $alpha: 0.7);
  top: 75px;
  right: 0;
}

// MODALS
.wishlist-modal, .cart-modal {
  @extend %modal-shared;

  .modal-main {
    padding: 1rem;

    .modal-header {
      display: flex;
      justify-content: space-between;
      
      h2 {
        margin-bottom: 1rem;
      }

      h3 {
        i {
          padding-right: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
    
    .modal-items {
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $light-grey;

        &:last-child {
          border-bottom: none;
        }

        .cart-product, .wishlist-product {
          display: flex;
          justify-content: space-between;
          margin-right: 1.5rem;

          img {
            margin-right: 1rem;
            width: 70px;
            height: 70px;
            object-fit: cover;
          } 
          
          .info {
            display: block;

            h1 {
              font-size: 1rem;
              margin-bottom: 0.75rem;
              font-weight: 600;
            }
    
            div {
              display: flex;
              justify-content: space-between;
            }
          }

        }

        div {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            padding: 0.3rem;
            font-size: 1.75rem;

              &:hover {
                color: $orange;
              }
          }
        }
      }
    }

    .price-total {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

// Login page
.account {
  display: flex;
  height: 100vh;

  &-container {
    overflow-y: auto;
    width: 400px;
    padding: 1rem 1rem 1rem 2.5rem;

    .logo {
      display: flex;
      align-items: center;

      h1 {
        font-size: 1.4rem;
        margin-left: 3rem;
        font-weight: 600;
        color: rgba($color: $orange, $alpha: 0.8);
        letter-spacing: 1px;
      }

      a svg {
       fill: transparent;
       stroke: $orange;
       stroke-width: 2.5;
       stroke-linecap: round;
       width: 50px;
       height: 100%;
       transform: rotate(90deg);
     }
    }

    .headline {
      font-size: 1.7rem;
      letter-spacing: 0.6px;
      line-height: 1.4;
      color: $dark-blue;
      font-weight: 600;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }

    // Google btn
    button {
      cursor: pointer;
      position: relative;
      display: flex;
      border: none;
      background: #4285f4;
      width: 100%;
      height: 40px;
      border-radius: 5px;

      img {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        padding: 0.3rem;
        background: $white;
      }

      h1 {
        padding-left: 46px;
        color: $white;
        font-weight: 600;
        font-size: 1rem;
        margin: auto;
      }

      &:hover {
        opacity: 0.9;
      }
    }

    span {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      &::before, &::after {
        position: absolute;
        content: "";
        top: 50%;
        width: 45%;
        height: 1.5px;
        background: $light-grey;
      }

      &::after { left: 0; }
      &::before { right: 0; }
    }

    .registration-success {
      background: #d8f8d0;
      border: 1px solid #3db81e;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.3rem;
      }

      input {
        background: $lighter;
        border: 1px solid $dark-blue;
        padding-left: 0.8rem;
        height: 40px;
        border-radius: 3px;
        
        &[type=submit] {
          font-size: 1rem;
          cursor: pointer;
          margin-top: 3rem;

          &:hover {
            background: $light-grey;
          }
        }
      }
    }

    h3 {
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  // Image
  .showcase {
    position: relative;
    width: calc(100vw - 400px);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    div {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $dark-grey;
      opacity: 0.25;
    }

    h2 {
      background: rgba($color: $dark-blue, $alpha: 0.75);
      padding: 1rem;
      position: absolute; 
      color: $white;
      content: "";
      bottom: 40px;
      left: 30px;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -10px;
        width: 40px;
        height: 5px;
        background: $white;
        z-index: 222;
        transform: translate(-50%, -50%);
      }

      a {
        color: $orange;
      }
    }
  }
}

// LOGO SVG
@keyframes drawSVG {
  from {
    stroke-dashoffset: -100;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes placeholder-animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 1000px 0;
  }

  100% {
    background-position: 0 0;
  }
}
